<main>
    <form id="articleForm">
      <div class="container">
  
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputTitle" class="col-form-label">Überschrift</label>
          </div>
          <div class="col-auto">
            <input type="text" id="inputTitle" class="form-control">
          </div>
        </div>
  
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputAuthor" class="col-form-label">Autor</label>
          </div>
          <div class="col-auto">
            <input type="text" id="inputAuthor" class="form-control">
          </div>
        </div>
  
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputDate" class="col-form-label">Datum</label>
          </div>
          <div class="col-auto">
            <input type="date" id="inputDate" class="form-control">
          </div>
        </div>
  
        <div class="mb-3">
          <label for="inputTeaser" class="col-form-label">Teaser Text</label>
          <textarea class="form-control" id="inputTeaser" rows="3"></textarea>
        </div>
  
        <div>
          <label for="inputArticle" class="col-form-label">Artikel</label>
          <textarea class="form-control" id="inputArticle" rows="10"></textarea>
        </div>
  
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputTags" class="col-form-label">Tags</label>
          </div>
          <div class="col-auto">
            <input type="text" id="inputTags" class="form-control">
          </div>
          <div class="col-auto">
            <button type="button" id="submitArticle" class="btn btn-primary">Senden</button>
          </div>
        </div>
  
      </div>
    </form>
  </main>
  